.App {
  text-align: center;
  background-color: lightgrey;
  height: 100vh;
}

.App-header {
  background-color: rgb(49, 126, 78);
  padding: 10px;
}

.App-title {
  color: white;
  font-size: 3em;
  margin: 0;
  font-family: 'Limelight', cursive;
}

.Post {
  background-color: white;
  width: 80%;
  max-width: 600px;
  margin: auto;
}